html,
body {
  background-image:
    url("assets/images/1.jpeg");
  background-size: cover;
}

h1 {
  color: white;
  font-size: 50px;
  margin: 30px;
  text-align-last: center;

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.button1 {
  color: red;
  font-size: 30px;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 43%;
  left: 20%;
  background-image: url("assets/images/red.png");
  background-size: cover;
}

.button2 {
  /* color: greenyellow; */
  font-size: 30px;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 45%;
  left: 40%;
  background-image: url("assets/images/green.jpeg");
  background-size: cover;
  text-align: center;
}

.button3 {
  color: blue;
  font-size: 30px;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 45%;
  left: 60%;
  background-image: url("assets/images/blue.jpeg");
  background-size: cover;
}

.button4 {
  color: violet;
  font-size: 20px;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 45%;
  left: 80%;
  background-image: url("assets/images/purple.jpeg");
  background-size: cover;
}

.red {
  color: red;
  font-size: 15px;
  position: absolute;
  top: 45%;
  left: 25%;
  /* put the letter on the top of the button */
}

.blue {
  color: rgb(69, 204, 219);
  font-size: 15px;
  position: absolute;
  top: 45%;
  left: 63%;
}

.green {
  color: yellowgreen;
  font-size: 15px;
  position: absolute;
  top: 55%;
  left: 38%;
}

.purple {
  color: violet;
  font-size: 15px;
  position: absolute;
  top: 56%;
  left: 77%;
}


.leftRed {
  background-image: url("assets/images/red.png");
  background-size: cover;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 30%;
  left: 0%;
}

.rightRed {
  background-image: url("assets/images/red.png");
  background-size: cover;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 30%;
  right: 0%;
}

.leftPurple {
  background-image: url("assets/images/purple.jpeg");
  background-size: cover;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 30%;
  left: 0%;
}

.rightPurple {
  background-image: url("assets/images/purple.jpeg");
  background-size: cover;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 30%;
  right: 0%;
}

.leftGreen {
  background-image: url("assets/images/green.jpeg");
  background-size: cover;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 30%;
  left: 0%;
}

.rightGreen {
  background-image: url("assets/images/green.jpeg");
  background-size: cover;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 30%;
  right: 0%;
}

.leftBlue {
  background-image: url("assets/images/blue.jpeg");
  background-size: cover;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 30%;
  left: 0%;
}

.rightBlue {
  background-image: url("assets/images/blue.jpeg");
  background-size: cover;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 30%;
  right: 0%;
}

#canvasContainer {
  position: absolute;
  left: 25%;
  top: 5%;
}